*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body
{
    background-color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',sans-serif;
}
.navbar
{
    width: 100%;
    height:66px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo 
{
    width:130px;
    height:50px;
    font-size:0.85rem;
    text-align: right;
    font-style: italic;
    padding-top: 7px;
    font-weight: bold;
}

.nav-logo img {height: 22px;}

.nav-logo .left {color:#9E9E9E}
.nav-logo .right {color:#FFC200}

.nav-search
{
    background-color: aliceblue;
    border-radius: 7px;
}
.nav-search button
{
    padding:0px 7px;
    background-color:aliceblue ;
    height: 40px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size:1rem;
    color:gray;
    cursor: pointer;
    margin-left:5px;
}

.nav-search input
{
    font-size: 1rem;
    width: 550px;
    height: 35px;
    border-radius: 5px;
    padding-left:5px;
    background-color: aliceblue;
    border:none;   
}

.nav-search input:focus
{
    outline: none;
}

.nav-seller
{
    display: flex;
    align-items: center;
}


.nav-seller a
{
    text-decoration: none;
    color: black;
    margin-left:7px;
}

.nav-signin a
{
 text-decoration: none;
 color:black;
}

.nav-signin span
{
    margin-left:5px;
}

.nav-cart a
{
   text-decoration: none;
   color:black;
}

.nav-cart span
{
    margin-left:5px;
}

.main-section
{
    margin: 8px 15px;
    overflow: hidden;
}
.shop-section
{
    height: 125px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shop-link
{
    text-decoration: none;
    text-align: center;
}

.shop-link p
{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}

/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
    margin-top:20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: white;
    color:gray;
    overflow: hidden;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
    
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .main-dot
  {
    position: relative;
    bottom: 38px; 
  }
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   
  }
  
  .active, .dot:hover {
    background-color:white;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Bank Offer Panel */
  .bank-offer-panel
  {
    height: 115px;
   
  }

  .bank-offer-panel img
  {
    margin:auto;
    width: 100%;
  }

/** Item Section  **/
.item-section
{
margin-top:20px;
height: 330px;
background-color: white;
padding:30px;
overflow: hidden;
}

.item-heading
{
    font-size: 1.2rem;
    font-weight: bold;
    color:#212121;
}

.item-list
{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.item
{
  height: 252px;
  width: 200px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  margin:10px 0px;
  text-align: center;
  text-decoration: none;
}

.item-img
{
  height:188px;
  margin:10px auto;
}

.item-img img
{
  height: 186px;

}

.item-img img:hover
{
  height: 100%;
}

.item2-img img
{
  width: 415px;
  margin:10px auto;
}

.item-name
{
  color:#212121;
  font-size: 14px;
  margin:5px;
}
  
.item-offer 
{
  font-weight: bold;
   color:#212121;
}

.fest-off-panel
{
  margin-top:20px;
  height:240px;
  color:white;
  display: flex;
  justify-content: space-between;

}

.fest-off-panel img
{
  background-size: auto;
  margin:0px 3px;
}

/**  Header Section  **/

.foot-panel1
{
  margin-top:50px;
  padding:30px;
  color: #565656;
  background-color: #f5f5f5
}

.foot-item
{
  margin-top:20px;
}

.foot-item a
{
  text-decoration: none;
  color: #565656;
  font-size: 12px;
}

.foot-panel2 
{ 
  background-color: #172337;;
  display: flex;
  justify-content: space-around;
  padding:50px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.foot-link
{
    display: flex;
    flex-direction: column;
    color:gray;
    font-size: 12px;
  }

  .foot-link  span
  {
    font-size:14px;
    margin-bottom: 10px;
    color:878787;
  }
  
  .foot-link a
  {
    color:#ffffff;
    /* font-weight: bold; */
    margin:4px 0px;
    text-decoration: none;
}

.foot-link p
{
  width:190px;
  line-height:1.5;
  color:#ffffff;
}

.left-border
{
  height: 50%;
  border-left: 1px solid #454d5e;
  padding:0px 20px;
}

.foot-panel3
{
  border-top:1px solid #454d5e;
}

.foot-panel3
{
  background-color: #172337;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
}

.foot-panel3 img
{
  height:15px;
  margin-right:7px;
}

.foot-panel3 a
{
 text-decoration: none;
  color:#ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.foot-link2
{
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#ffffff;
}